.ReactTable {
  .-cursor-pointer {
    color: #008800;
  }
  .rt-tr {
    min-height: 40px;
  }
  .rt-th {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rt-td {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
